body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

/* INPUT AREA */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.input-box input {
  flex: 1;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.input-box button {
  padding: 14px 18px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.input-box button:hover {
  background: #218838;
}

/* TASK CARD */
.task {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.task:hover {
  transform: scale(1.01);
}

.task span {
  flex: 1;
  font-size: 16px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: gray;
}

/* BUTTONS */
.btn-group {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: #ff9800;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background: #e53935;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.logout {
  background: black;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.auth-container button:hover {
  background: #0056b3;
}

.link-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #007bff;
}